.main-container {
    width: 100%;
    height: 100vh;
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container form {
    width: 100%;
    max-width: 700px;
    margin-left: 100px;
}

.main-container form .input-group {
    display:  flex;
}

.main-container form .input-group input + input {
    margin-left: 12px;
}
